@media only screen and (max-width: 1002px) {
  .hero-inner__heading {
    max-width: 600px;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
  }

  .hero-info {
    max-width: 440px;
    margin-top: 32px;
    /* position: relative;
    font-style: normal; */
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 790px) {
  .hero-inner__heading {
    max-width: 600px;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
  }

  .hero-info {
    max-width: 380px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 760px){
  .container {
    max-width: 680px;
  }

  .site-logo {
    width: 128px;
    height: 32px;
  }
}

@media only screen and (max-width: 759px) {
  .hero-inner {
    display: block;
  }

  .hero-inner__heading {
    max-width: 220px;
    margin-top: 0;
    margin-left: 150px;
    text-align: center;
  }

  .hero-info {
    max-width: 450px;
    margin-left: 55px;
    text-align: center;
  }
}

/* @media only screen and (max-width: 677px) {
  .hero-info {
    max-width: 330px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: rgb(255, 255, 255);
  }
} */

@media only screen and (max-width: 599px) {
  .hero-inner__heading {
    max-width: 180px;
    margin-left: 60px;
    display: block;
  }

  .hero-info {
    margin-left:95px;
  }

  .site-logo {
    width: 128px;
    height: 32px;
  }

  .header-links {
    display: none;
  }

  .btn-wrapper {
    display: none;
  }

  .humburger-btn-wrapper {
    display: block;
  }

  .humburger-img {
    width: 20px;
    height: 17px;
  }

  .hero-info {
    max-width: 300px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }

  .hero-inner__heading {
    max-width: 600px;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
  }

}

@media only screen and (max-width: 407px) {
  .hero-inner__heading {
    margin-left: 30px;
  }

  .hero-info {
    margin-left: 65px;
  }


  .site-heading-hidden {
    display: none;
  }

  .header-wrapper {
    padding-top: 25px;
  }
 
}

@media only screen and (max-width: 320px) {
  .site-heading-hidden {
    display: none;
  }

  .header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}